<h3 class="text-center">Exclusive Members</h3>

<table class="table table-bordered table-hover text-center sub-section-table">
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th><span class="glyphicon glyphicon-envelope"></span></th>
    <th colspan="3">Manage</th>
  </tr>
  <% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.id %></td>
    <td><%= contact.first_name %></td>
    <td><%= contact.last_name %></td>
    <td><%= contact.email %></td>

    <td><a href="/contacts/<%= contact.id %>">
      <span class="glyphicon glyphicon-folder-open"></span>
    </a></td>

    <td><a href="/contacts/<%= contact.id %>/edit">
      <span class="glyphicon glyphicon-edit"></span>
    </a></td>

    <td><%= erb :'contacts/_delete', layout: false, locals: { contact: contact }%></td>
  </tr>
  <% end %>
</table>
