<div class="row">
  <div class="col-md-12">
    <h2>Blind Auction - Home</h2>
    <h4>Newest Blog Auction Items</h4>
  </div>
</div>


<div class="row text-center flex-container">

  <div class="col-md-9 box-med">
    <h3 class="heading">Recent Items</h3>

    <table class="table table-bordered table-striped table-hover">
      <tr>
        <th><span class="glyphicon glyphicon-user"></span></th>
        <th>Item Name</th>
        <th>Condition</th>
        <th>Description</th>
        <th>Opening Bid</th>
        <th>Details</th>
      </tr>

      <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.item_name %></td>
        <td><%= item.item_condition %></td>
        <td><%= item.description %></td>
        <td><%= item.opening_bid %></td>
        <td>
          <button class="btn btn-default" name="commit" type="submit"><a href="/items/<%= item.id %>">
            <span class="glyphicon glyphicon-folder-open"></span>
          </a></button>
        </td>

      </tr>
      <% end %>

    </table>
  </div>

  <div class="col-md-3 box-med">
    <h3 class="heading">Popular Items!</h3>

    <table class="table table-bordered table-striped table-hover">
      <tr>
        <th>Item Name</th>
        <th>Details</th>
      </tr>

      <% @items.each do |item| %>
      <tr>
        <td><%= item.item_name %></td>
        <td>
          <button class="btn btn-default" name="commit" type="submit"><a href="/items/<%= item.id %>">
            <span class="glyphicon glyphicon-folder-open"></span>
          </a></button>
        </td>

      </tr>
      <% end %>

    </table>

  </div>

</div>
