<div class="">

  <div class="erb_header">
    <h2>Blind Auction</h2>
    <h4>Users - View All</h4>
  </div>

  <table class="table table-bordered table-hover table-striped">
    <tr>
      <th><span class="glyphicon glyphicon-user"></span></th>
      <th>Username</th>
      <th><span class="glyphicon glyphicon-envelope"></span></th>
      <th colspan="3"><span class="glyphicon glyphicon-cog"></span> Manage</th>
    </tr>
    <!-- # Step 1/3 for will_paginate: create instance variable in controller. -->
    <!-- # Step 2/3 for will_paginate: below -->
    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.username %></td>

      <td>
        <button class="btn btn-default" name="commit" type="submit"><a href="/users/<%= user.id %>">
          <span class="glyphicon glyphicon-folder-open"></span>
        </a></button>
      </td>

      <td>
        <button class="btn btn-default" name="commit" type="submit"><a href="/users/<%= user.id %>/edit">
          <span class="glyphicon glyphicon-edit"></span>
        </a></button>
      </td>

      <td><%= erb :'users/_delete', layout: true, locals: { user: user }%></td>
    </tr>
    <% end %>
  </table>

  <div class="digg_pagination">
  <%= will_paginate @users, renderer: BootstrapPagination::Sinatra %>
  <!-- <%= will_paginate @users %> -->
  </div>

</div>
